.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  z-index: 10;
}
.countBox{
    background-color: #b94517;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}
.Cart{
  color: white;
}
.heading{
  color: white;
  font-weight: bold;
  font-size: 2em;
}
.headerButton{
  background-color: #4d1601;
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

